@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
:root {
  /*  -- linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%); */
  --veryLightGrayishBlue: hsl(240, 78%, 98%);
  --LightGrayishBlue: hsl(234, 14%, 74%);
  --grayishBlue: hsl(233, 13%, 49%);
  --darkGrayishBlue: hsl(232, 13%, 33%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#a3a8f0 to #696fdd);
  font-family: "Montserrat", sans-serif;
}

.app {
  max-width: 1440px;
  margin: auto;
  background-color: var(--veryLightGrayishBlue);
  padding: 50px 20px;
  background-image: url(../images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: 200px 0px;
  background-size: 100%;
}

header {
  text-align: center;
  margin: 50px 0px;
}

header h1 {
  color: var(--darkGrayishBlue);
}
.section-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 100px;
}

.section-toggle h2 {
  color: var(--LightGrayishBlue);
}

.toggle {
  background: linear-gradient(
    90deg,
    rgba(163, 168, 240, 1) 1%,
    rgba(105, 111, 221, 1) 43%
  );
  width: 70px;
  height: 40px;
  border-radius: 50px;
  position: relative;
  margin: 0px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.toggle:hover {
  background: linear-gradient(
    90deg,
    rgba(163, 168, 240, 1) 1%,
    rgba(105, 111, 221, 0.486) 43%
  );
}
/* .circle-toggle:hover {
  background-color: var(--LightGrayishBlue);

} */
.circle-toggle {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  left: 36px;

  top: 4.5px;
  transition: all 0.3s ease;
}
.circle-toggle.active {
  left: 5px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card.prof {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(163, 168, 240, 1) 1%,
    rgba(105, 111, 221, 1) 43%
  );
  color: var(--veryLightGrayishBlue);
}
.card {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  color: var(--darkGrayishBlue);
}
.card h1 {
  font-size: 18px;
  margin: 10px 0px 20px;
}
.card h2 {
  font-size: 60px;
}

hr {
  width: 80%;
  margin: 20px;
}

.card-btn {
  width: 80%;
  height: 50px;
  background: linear-gradient(
    90deg,
    rgba(163, 168, 240, 1) 1%,
    rgba(105, 111, 221, 1) 43%
  );
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  transition: all 1s ease;
}
.card-btn-prof {
  width: 80%;
  height: 50px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: rgba(105, 111, 221, 1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
}
.card-btn:hover {
  background: transparent;
  border: 1px solid rgba(105, 111, 221, 1);
  color: rgba(105, 111, 221, 1);
}
.card-btn-prof:hover {
  background: transparent;
  color: white;
  border: 1px solid white;
}

span {
  font-size: 35px;
}

.price {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .app {
    max-width: 1440px;
    margin: auto;
    background-color: var(--veryLightGrayishBlue);
    padding: 50px 20px;
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    height: 100vh;
    background-size: 30%;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .card.prof {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(163, 168, 240, 1) 1%,
      rgba(105, 111, 221, 1) 43%
    );
    color: var(--veryLightGrayishBlue);
    height: 500px;
  }
  .card {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    height: 460px;
    transition: all 0.2s ease;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.459);
    color: var(--darkGrayishBlue);
  }

  .card:hover {
    transform: scale(1.1);
  }
}
